<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://karaf.apache.org/xmlns/features/v1.0.0"
            class="org.apache.karaf.xmlns.features.v1._0._0Package"
            genModel="model/features.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="_0"
            class="org.apache.karaf.xmlns.features.v1._0.util._0ResourceFactoryImpl"/>
   </extension>

</plugin>
